.full-height {
    height: calc(100vh - 42px);
}

.meta-cover #detailcover {
    -o-object-position: center top;
    object-position: center top;
    -o-object-fit: contain;
    object-fit: contain;

    height: 100%;
    margin: 0 auto;
    display: block;
}

.meta-wrap {
     display: flex;
     max-width: 1000px;
     margin: 0 auto;
}

.meta-cover{
    padding-left: 15px;
    padding-right: 15px;
}

.book-meta{
    overflow-y: scroll;
}